@page "/complaints"
@using SolutionPortalBeta.Shared;
@inject HttpClient _httpClient


    <div class="comp-list">
        <Nav/>
        <h1 class="title">Complaints</h1>
        <div class="recent-orders">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Complaint Description</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in complaintList.OrderByDescending(p => p.Id).Take(7))
                    {
                        <tr>
                            <td>@p.Title</td>
                            <td>@p.Description</td>
                            <td class="@statusClass">@CheckStatus(p.IsCompleted)</td>
                            <td>@p.DateCreated</td>
                            <td class="primary"><a href="#">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


@code{
    List<UserCompliantModel> complaintList = new List<UserCompliantModel>();
    public string statusClass;

    protected override async Task OnInitializedAsync()
    {

        var response = await _httpClient.GetAsync("api/UserComplaint/");
        complaintList = await response.Content.ReadFromJsonAsync<List<UserCompliantModel>>();
    }

    private string CheckStatus(bool Status)
    {

        if (Status)
        {
            statusClass = "warning";
            return "Resolved";
        }
        else
        {
            statusClass = "done";
            return "Pending";
        }
    }
}